<div class="row">
    <div class="col-6">
        <app-dona
        titulo="Estadia de alumnos por dia."
        [doughnutChartData]="dataAlumnosPorCarrera"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        titulo="Compras."
        [doughnutChartData]="dataCompras"
        ></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona
        titulo="Estadia de alumnos por dia."
        [doughnutChartData]="dataAlumnosPorCarrera"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
        titulo="Estadia de alumnos por dia."
        [doughnutChartData]="dataAlumnosPorCarrera"
        ></app-dona>
    </div>
</div>